HELP.md
.gradle
build/
!/backend-spring/gradle/wrapper/gradle-wrapper.jar
!/backend-spring/gradle/wrapper/gradle-wrapper.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# backend-spring 전용
/backend-spring/build/
/backend-spring/.gradle/
/backend-spring/out/
/backend-spring/.idea/
/backend-spring/*.iml
